@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
}
.table {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  margin: auto;
}
.polje {
  border: 1px solid black;
  padding: 50px;
}
.boards-links {
  border: 1px solid black;
  width: 230px;
  height: 230px;
  vertical-align: middle !important;
  background-color: plum;
  padding: 10px;
  margin: 30px;
  transition: transform 3s ease-in-out;
}
.boards-links:hover {
  transform: scale(1.3);
}
.all-boards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.profile {
  margin: 40px;
}
.btn {
  margin: 30px;
  padding: 10px;
  background-color: royalblue;
  color: white;
}
.input {
  margin: 10px;
  padding: 10px;
  width: 300px;
}
.register {
  margin: 100px;
}

.soc-ico {
  width: 50px;
  height: 50px;
}

.soc-ico:hover {
  color: whitesmoke;
  transition: 0.7s;
}
.soc-ico:hover {
  animation: footer 0.7s ease;
}

@keyframes footer {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .all-boards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .table {
    width: 300px;
    height: 300px;
  }
  .polje {
    padding: 10px;
  }
}
